@media only screen and (max-width: 1280px) {

	h1 {
	    font-size: 42px;
	    line-height: 53px;
	}

	ol li {
	    padding: 6px 0 6px 27px;
		font-size: 17px;
		line-height: 19px;
	}

	ol li:before {
	    top: 3px;
	}

	/*-- Header --*/

	.header-site .left {
	    padding: 2px 1% 10px 0;
	}

	.logo p {
	    max-width: 212px;
	    margin: 20px 0 0 16px;
	}

	.logo_2 p {
	    margin-top: 8px;
	}

	.sign_wrapp {
	    padding: 10px 20px;
	}

	.input_wrapp {
	    width: 172px;
	}

	.blue-pill {
	    min-width: 129px;
	}

	.sign_list {
	    margin: 0;
	}

	.blue-link {
	    font-size: 14px;
	    line-height: 14px;
	}

	/*-- /Header --*/

	/*-- Section 1 --*/

	.video-box .inner {
	    height: 327px;
	}

	.video-desc h3 {
	    font-size: 18px;
	    line-height: 22px;
	}

	.video-desc p {
	    font-size: 20px;
	    line-height: 23px;
	}

	/*-- /Section 1 --*/

	/*-- Section 2 --*/

	.section-2 {
	    padding: 30px 0;
	}

	.thumb-3 .img-box {
	    max-width: 160px;
	}

	.tooltip_1 i.fa-heart {
	    margin: 0 5px 0 0;
	}

	.tooltip_1 i.fa-plus {
	    margin: 0 1px;
	    font-size: 11px;
	}

	.tooltip:after {
	    width: 10px;
	    height: 10px;
	    bottom: -5px;
	    left: 50%;
	    margin: 0 0 0 -5px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}

	.tooltip i {
	    font-size: 16px;
	}

	.tooltip_1 {
	    top: 118px;
	    left: -30%;
	}

	.tooltip_2 {
	    width: 91px;
	    top: 76px;
	    right: -39%;
	}

	.tooltip_2 i.fa-heart {
	    font-size: 17px;
	}

	.tooltip_2 i.fa-plus {
	    font-size: 10px;
	}

	.tooltip_2:after {
	    width: 14px;
	    height: 14px;
	    bottom: -7px;
	    margin: 0 0 0 -7px;
	}

	.tooltip_3 {
	    min-width: 146px;
	    padding: 9px;
	    bottom: 29px;
	    right: -12.5%;
	}

	.tooltip .desc > div {
	    margin: 0 2px;
	}

	.tooltip_3 i {
	    font-size: 11px;
	}

	.tooltip p {
	    padding: 0 4px;
	    font-size: 11px !important;
	    line-height: 11px !important;
	}

	.tooltip_4 {
	    width: 74px;
	    padding: 10px;
	    top: 178px;
    	left: -13%;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
	}

	.tooltip_4 .fa-user {
	    margin: 0 4px 0 0;
	    font-size: 15px;
	}

	.tooltip_4 .fa-plus {
	    margin: 0 1px;
	    font-size: 11px;
	}

	.tooltip_5 {
	    top: 130px;
	    right: -28%;
	}

	.tooltip_5:after {
	    width: 10px;
	    height: 10px;
	    bottom: -5px;
	    left: 50%;
	    margin: 0 0 0 -6px;
	    -webkit-border-radius: 2px;
	    -moz-border-radius: 2px;
	    border-radius: 2px;
	}

	.tooltip_6 {
	    width: 102px;
	    padding: 10px;
	    top: 61px;
	    left: -45%;
	    -webkit-border-radius: 8px;
	    -moz-border-radius: 8px;
	    border-radius: 8px;
	}

	.tooltip_6 .fa-comment {
	    font-size: 17px;
	}

	.tooltip_6 .fa-plus {
	    font-size: 12px;
	}

	.thumb-3 h3 {
	    padding: 0 0 20px 0;
	    font-size: 21px;
	    line-height: 23px;
	    font-weight: normal;
	}

	.thumb-3 p,
	.thumb-3.big-font p {
	    font-size: 14px;
	    line-height: 19px;
	}

	.blue-pill_2 {
	    -webkit-border-radius: 32px;
	    -moz-border-radius: 32px;
	    border-radius: 32px;
	    margin: 33px 0;
	    padding: 14px;
	}

	/*-- /Section 2 --*/

	/*-- Section 5 --*/

	.section-5 {
		padding: 66px 0 31px 0;
	}

	.thumb-5 .thumb-title h3 {
		font-size: 24px;
		line-height: 27px;
	}

	.thumb-5 .thumb-descript {
		min-height: 275px;
	    padding: 0 30px 30px 30px;
	}

	.thumb-5 .thumb-footer p.p-1 {
	    padding: 6px 0;
	    font-size: 20px;
	    line-height: 23px;
	}

	/*-- /Section 5 --*/

	/*-- Section 1 - Rates --*/

	.rate_thumb {
	    width: 31.33%;
	}

	/*-- /Section 1 - Rates --*/

}

@media only screen and (max-width: 1124px) {

	/*-- Section 5 --*/

	.thumb-5 .thumb-title {
	    min-height: 44px;
	}

	/*-- /Section 5 --*/

	/*-- Section 6 --*/

	.section-6 {
	    padding: 56px 0 60px 0;
	}

	.h-desc {
	    margin: 25px auto;
	    font-size: 17px;
    	line-height: 20px;
	}

	.thumb-6 {
		margin: 20px 1.5% 20px 1.5%;
	    padding: 37px 2% 39px 2%;
	}

	.thumb-6 .inner {
	    padding-bottom: 73px;
	    position: relative;
	}

	.thumb-6 .thumb-title h3 {
	    font-size: 40px;
	    line-height: 45px;
	}

	.thumb-6 .thumb-descript h4 {
	    padding: 20px 0;
	    font-size: 28px;
	    line-height: 32px;
	}

	.thumb-6 .thumb-descript p {
	    font-size: 17px;
	    line-height: 21px;
	}

	.thumb-6_btn {
	    max-width: 295px;
	    bottom: 0;
	}

	.thumb-6 .blue-pill {
   		padding: 15px 5px;
	   	-webkit-border-radius: 26px;
	    -moz-border-radius: 26px;
	    border-radius: 26px;
	    font-size: 17px;
	    line-height: 18px;
	}

	.thumb-6 .black-pill {
	    padding: 15px 5px;
	   	-webkit-border-radius: 26px;
	    -moz-border-radius: 26px;
	    border-radius: 26px;
	    font-size: 17px;
	    line-height: 18px;
	}

	/*-- /Section 6 --*/

	/*-- Section 7 --*/

	.thumb-7 h3 {
		padding: 5px 0 11px 0;
	    font-size: 19px;
	    line-height: 28px;
	}

	.thumb-7 p {
		font-size: 14px;
		line-height: 18px;
	}

	/*-- /Section 7 --*/

	/*-- Section 8 --*/

	.section-8 .top-row {
	    padding: 68px 0 36px 0;
	}

	.thumb-8 {
	    width: 202px;
	    padding: 11px 20px;
	}

	/*-- /Section 8 --*/


}

@media only screen and (max-width: 1024px) {

	h1 {
		font-size: 50px;
		line-height: 56px;
	}

	h2 {
	    font-size: 50px;
	    line-height: 62px;
	}

	h3 {
	    font-size: 28px;
	    line-height: 29px;
	}

	h2 + h3 {
	    padding: 10px 0 0 0;
	}

	h4 {
		font-size: 21px;
		line-height: 30px;
	}

	ol li {
	    padding: 2px 0 2px 27px;
	}

	/*-- Header --*/

	.header-site.active .sign_wrapp {
	    padding: 16px 0 4px 0;
	}

	.sign_wrapp {
	    padding: 6px 20px;
	}

	.visible-1024 {
	    display: block !important;
	}

	.inline-blocks > div.visible-1024 {
	    display: inline-block !important;
	}

	.sign_wrapp .inline-blocks .append-elem {
	    display: none;
	}

	.sign_wrapp .inline-blocks {
	    margin: 0 -6px;
	}

	.sign_wrapp .inline-blocks div {
		margin: 3px 6px;
	}

	.logo p {
	    max-width: 157px;
	}

	/*-- /Header --*/

	/*-- Section 1 --*/

	.center-position {
	    margin: 0;
	}

	.promo-desc p {
	    font-size: 20px;
	    line-height: 26px;
	}

	.blue-pill_2 {
	    min-width: 300px;
	    margin: 10px 0;
	    padding: 19px 20px;
	    font-size: 23px;
	}

	.video-box .inner {
	    height: 221px;
	}

	.video-desc h3 {
	    font-size: 14px;
	    line-height: 20px;
	}

	.video-desc p {
	    font-size: 18px;
	    line-height: 20px;
	}

	/*-- /Section 1 --*/

	/*-- Section 3 --*/

	.thumb-4 h3 {
		margin: 0 0 7px 0;
	    font-size: 21px;
	    line-height: 28px;
	}

	.thumb-4 p {
	    font-size: 14px;
	    line-height: 16px;
	}

	.section-footer .col-1 {
	    width: 49%;
	}

	.section-footer .col-2 {
	    width: 51%;
	}

	.section-footer h3 {
	    font-size: 25px;
	    line-height: 34px;
	}

	.section-footer p {
	    padding: 0;
	    font-size: 17px;
	    line-height: 25px;
	}

	/*-- /Section 3 --*/

	/*-- Section 4 --*/

	.two-cols_2 .left {
		width: 47%;
	    padding: 10px 1% 20px 0;
	}

	.two-cols_2 .right {
		width: 53%;
		padding-left: 3%;
	}

	.items_box h3 {
		padding: 0 0 15px 0;
	    font-size: 21px;
	    line-height: 25px;
	}

	.item h3 {
	    padding: 8px 0;
	    font-size: 40px;
	    line-height: 45px;
	}

	.item p {
	    padding: 5px 0;
	    font-size: 14px;
	    line-height: 21px;
	}

	.two-cols_2 .right p {
	    font-size: 17px;
	    line-height: 23px;
	}

	.item-2 {
	    margin: 5px 0;
	}

	.item-2 .col-1 {
	    width: 83px;
	}

	.section-footer.white p {
	    line-height: 25px;
	}

	.section-footer.white p span {
	    font-size: 25px;
	    line-height: 32px;
	}

	/*-- /Section 4 --*/

	/*-- Section 7 --*/

	.thumb-7 {
	    padding: 0 8px;
	}

	.thumb-7 h3 {
	    font-size: 15px;
	    line-height: 21px;
	}

	.thumb-7 p {
		font-size: 14px;
		line-height: 18px;
	}

	/*-- /Section 7 --*/

	/*-- Section 1 - Rates --*/

	.rate_thumb {
	    width: 48%;
	}

	/*-- /Section 1 - Rates --*/

	.footer .left,
	.footer .right {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	    text-align: center;
	}

}

@media only screen and (max-width: 860px) {

	/*-- Section 2 --*/

	.thumbnails-3 {
		text-align: center;
	}

	.thumb-3 {
	    width: 50%;
	}

	/*-- /Section 2 --*/

}

@media only screen and (max-width: 768px) {

	/*-- Section 1 --*/

	.promo-desc p {
    	padding: 11px 0;
	    font-size: 17px;
	    line-height: 20px;
	}

	.blue-pill_2 {
	    padding: 13px 15px;
	}

	.video-box .inner {
	    height: 184px;
	}

	.play-btn {
	    width: 70px;
	    height: 70px;
	}

	.play {
	    width: 27px;
	    height: 30px;
	}

	.video-desc:after {
	    right: -31px;
	}

	/*-- /Section 1 --*/

	/*-- Section 2 --*/

	.tooltip_7 {
		right: -26%;
	}

	/*-- /Section 2 --*/

	/*-- Section 3 --*/

	.bg_2 > .inner {
	    padding: 27px 0;
	}

	.thumbnails-4 {
	    margin: 0;
	}

	.thumb-4 {
	    margin: 20px 0;
	}

	.thumb-4 h3 {
		min-height: auto;
	}

	/*-- /Section 3 --*/

	/*-- Section 5 --*/

	.thumb-5:before {
	    width: 192px;
	    height: 192px;
	    top: -128px;
	    margin: 0 0 0 -96px;
	}

	.thumb-5 .icon-box {
	    width: 160px;
	    height: 160px;
	    top: -111px;
	    margin: 0 0 0 -80px;
	}

	.thumb-5 .icon-box i {
	    top: 11px;
	}

	.thumb-5 .icon-box i.icon_05 {
	    top: 1px;
	}

	.thumb-5 .thumb-title h3 {
	    font-size: 21px;
	    line-height: 25px;
	}

	.thumb-5 .thumb-descript {
	    padding: 0 20px 30px 20px;
	}

	.thumb-5 .thumb-footer {
	    padding: 0 20px 20px 20px;
	}

	/*-- /Section 5 --*/

	.info-box {
		display: block;
	}

	.info-box .info-col:nth-child(1),
	.info-box .info-col:nth-child(2) {
		display: block;
	    width: 100%;
	    padding: 13px 0;
	}

	.info-box .info-col:nth-child(1) {
		padding-bottom: 4px;
	}

	.info-box .info-col:nth-child(2) {
		padding-top: 4px;
	}

	.info-box .btn_wrapp {
	    text-align: center;
	}

	/*-- Footer --*/

	.footer .left, .footer .right {
	    padding: 10px 0 0 0;
	}

	.cols-inner_wrapp {
	    margin: 0;
	}

	/*-- /Footer --*/

	/*-- Backgrounds --*/

	.bg_1 {
		background-image: url(img/promo_bg_tab.jpg);
	}

	.bg_2 {
	    background-image: url(img/bg_2_tab.jpg);
	}

	.bg_3 {
	    background-image: url(img/bg_4_tab.jpg);
	}

	.bg_4 {
	    background-image: url(img/bg_2_tab.jpg);
	}

	/*-- /Backgrounds --*/

	/*-- Popups --*/

	.popup {
		max-width: 460px;
	    margin: 80px auto 20px auto;
	}

	.popup .close-popup {
	    top: 15px;
	    right: 15px;
	}

	/*-- /Popups --*/

}

@media only screen and (max-width: 750px) {

	/*-- Section 7 --*/

	.bg_4 .top-row {
	    position: relative;
	    z-index: 2;
	    padding: 33px 0 19px 0;
	}

	.thumb-7 {
		display: table;
	    width: 100%;
	    margin: 26px 0;
	    padding: 0;
	    text-align: left;
	}

	.thumb-7 .cell-1 {
		display: table-cell;
		vertical-align: top;
		width: 79px;
	}

	.thumb-7 .cell-2 {
		display: table-cell;
		vertical-align: top;
		width: auto;
	}

	.thumb-7 .img-box {
	    height: auto;
	    margin: 0 0 16px 0;
	    text-align: left;
	}

	.thumb-7 .img-box img {
		max-width: 54px;
	    position: relative;
	    left: 0;
	    -webkit-transform: translate(0, 0);
	    -moz-transform: translate(0, 0);
	    transform: translate(0, 0);
	}

	.thumb-7 p {
	    padding: 3px 0;
	}

	.circle_shape {
		display: none;
	}

	/*-- /Section 7 --*/

}

@media only screen and (max-width: 700px) {

	h1 {
	    font-size: 38px;
	    line-height: 51px;
	}

	/*-- Section 1 --*/

	.two-cols .left {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	}

	.two-cols .right {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	}

	.promo-content {
	    margin: 14px 0;
	}

	.promo-desc p {
	    padding: 7px 0;
	    font-size: 16px;
	    line-height: 18px;
	}

	/*-- /Section 1 --*/

	/*-- Section 3 --*/

	.section-footer {
	    padding: 10px 0;
	}

	.section-footer .col-1 {
	    width: 100%;
	    padding: 5px 0;
	}

	.section-footer .col-2 {
	    width: 100%;
	    padding: 5px 0;
	    text-align: center;
	}

	.section-footer .blue-pill_2 {
	    margin: 6px 0;
	}

	/*-- /Section 3 --*/

	/*-- Section 5 --*/

	.section-5 {
	    padding: 30px 0;
	}

	.thumb-5 .thumb-descript {
	    min-height: 245px;
	}

	/*-- /Section 5 --*/

	/*-- Section 6 --*/

	.thumbnails-6 {
	    margin: 0;
	}

	.thumb-6 {
		width: 100%;
	    margin: 20px 0;
	    padding: 31px 4% 29px 4%;
	}

	.thumb-6 .inner {
		height: auto !important;
	}

	.thumb-6 .thumb-title h3 {
	    font-size: 30px;
	    line-height: 30px;
	}

	.thumb-6 .thumb-descript h4 {
	    padding: 8px 0;
	    font-size: 21px;
	    line-height: 23px;
	}

	.thumb-6 .thumb-descript {
	     min-height: auto; 
	}

	.thumb-6 .blue-pill {
	    font-size: 15px;
	}

	/*-- /Section 6 --*/

	/*-- Section 8 --*/

	.thumb-8 {
	    width: 172px;
	    padding: 11px;
	}

	.thumb-8 .icon-box {
	    width: 125px;
	    height: 125px;
	}

	.thumb-8 h3 {
	    font-size: 13px;
	    line-height: 18px;
	}

	/*-- /Section 8 --*/

	/*-- Section 1 - Rates --*/

	.rate_thumb {
	    width: 100%;
	    margin: 55px 0 6px 0;
	}

	/*-- /Section 1 - Rates --*/

}

@media only screen and (max-width: 600px) {

	h1 {
	    font-size: 30px;
	    line-height: 43px;
	}

	h2 {
	    font-size: 30px;
	    line-height: 38px;
	}

	h3 {
	    font-size: 18px;
	    line-height: 19px;
	}

	ol li {
	    font-size: 14px;
	    line-height: 18px;
	}

	.inner_title h2 {
	    font-size: 21px;
	    line-height: 30px;
	}

	/*-- Header --*/

	.header-site .left {
	    width: 41%;
	}

	.header-site .right {
	    width: 59%;
	}

	.logo-img {
		display: none;
	}

	.logo_2 .logo-img {
	    display: inline-block;
	}

	/*-- /Header --*/

	/*-- Section 1 --*/

	.video-box_wrapp {
	    margin: 8px 0;
	}

	/*-- /Section 1 --*/

	/*-- Section 2 --*/

	.section-titles {
	    padding: 9px 0;
	}

	.thumb-3 {
	    width: 100%;
	    padding: 0;
	}

	.blue-pill_wrapp .blue-pill_2 {
	    margin: 20px 0;
	}

	.blue-pill_2 {
		min-width: 278px;
	    margin: 0;
	    font-size: 19px;
	}

	/*-- /Section 2 --*/

	/*-- Section 4 --*/

	.two-cols_2 .left {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	}

	.two-cols_2 .right {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	}

	.section-footer h3 {
	    font-size: 21px;
	    line-height: 29px;
	}

	.items_box {
	    max-width: 100%;
	    margin: 0;
	    padding: 33px 11% 17px 11%;
	}

	.item h3 {
	    padding: 8px 0;
	    font-size: 30px;
	    line-height: 36px;
	}

	.item p {
	    padding: 13px 0;
	}

	/*-- /Section 4 --*/

	/*-- Section 5 --*/

	.thumb-5 .thumb-descript {
	    padding: 0 20px 30px 20px;
	}

	.thumb-5 .thumb-descript {
	    padding: 0 15px 30px 15px;
	}

	/*-- /Section 5 --*/

	/*-- Backgrounds --*/

	.bg_1 {
		background-image: url(img/promo_bg_mob.jpg);
	}

	.bg_2 {
	    background-image: url(img/bg_2_mob.jpg);
	}

	.bg_3 {
	    background-image: url(img/bg_4_mob.jpg);
	}

	.bg_4 {
	    background-image: url(img/bg_2_mob.jpg);
	}

	/*-- /Backgrounds --*/

	/*-- Section 1 - Rates --*/

	.inner_title {
	    padding: 10px 0;
	}

	.rates_thumbs_wrapp h3 {
	    font-size: 19px;
	    line-height: 22px;
	}

	/*-- /Section 1 - Rates --*/

	/*-- Footer --*/

	.footer {
	    padding: 10px 0 14px 0;
	}

	.footer-nav li {
	    padding: 3px 14px;
	}

	p.cop {
	    padding: 11px 0;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 480px) {

	.row {
	    padding: 0 10px;
	}

	/*-- Header --*/

	.header-site .left {
	    width: 54%;
	}

	.header-site .right {
	    width: 46%;
	}

	.sign_wrapp {
	    padding: 5px 0 0 0;
	    background-color: rgba(0, 0, 0, 0);
	}

	.sign-in {
	    min-width: 52px;
	}

	.sign-in span {
	    display: none;
	}

	.sign-in i {
	    display: block;
		font-size: 23px;
		line-height: 23px;
	}

	.header-site.active .left {
	    padding: 0 1% 0 0;
	}

	.header-site.active .sign_wrapp {
	    padding: 5px 0 0 0;
	}

	/*-- /Header --*/

	/*-- Section 1 --*/

	.promo-desc .blue-pill_2 {
	    min-width: 100%;
	}

	.video-box .inner {
	    height: 160px;
	}

	.video-desc h3 {
	    font-size: 13px;
	    line-height: 18px;
	}

	/*-- /Section 1 --*/

	/*-- Section 2 --*/

	.tooltip_2 {
	    right: -37%;
	}

	.tooltip_6 {
	    left: -37%;
	}

	/*-- /Section 2 --*/

	/*-- /Section 5 --*/

	.thumb-5 .thumb-footer p.p-1 {
	    font-size: 17px;
	    line-height: 20px;
	}

	.thumb-5 .thumb-footer p {
	    font-size: 14px;
	    line-height: 18px;
	}

	/*-- /Section 5 --*/

	/*-- Section 8 --*/

	.section-8 .top-row {
	    padding: 44px 0 36px 0;
	}

	.thumb-8 {
	    width: 141px;
	    padding: 7px;
	}

	.thumb-8 .icon-box {
	    width: 120px;
	    height: 120px;
	}

	.thumb-8 h3 {
	    font-size: 11px;
	    line-height: 16px;
	    font-weight: bold;
	}

	/*-- /Section 8 --*/

	/*-- Popups --*/

	.popup {
	    margin: 80px 2% 20px 2%;
	}

	.popup h3 {
	    font-size: 30px;
	    line-height: 32px;
	}

	.popup-form {
		padding-top: 20px;
		padding-left: 30px;
		padding-right: 30px;
	}

	.input_wrapp .show_pass {
	    right: -26px;
	}

	.input_wrapp input {
	    font-size: 15px;
	}

	/*-- /Popups --*/
	
}

@media only screen and (max-width: 350px) {

	.info-box .btn_wrapp {
	    margin: 0;
	}

	.info-box .blue-pill {
		width: 100% !important;
	    margin: 5px 0;
	    padding: 12px 10px 14px 10px;
	}

	.blue-pill .fa-telegram-plane {
	    margin: -2px 9px -7px 0;
	}

}

@media only screen and (min-width: 1025px) {

	.popup_wrapp_resp {
	    display: none !important;
	}

}

