@media only screen and (max-width: 1390px) {

	/*-- Header 2 --*/

	.thumb-9_1 {
		display: none;
	}

	/*-- /Header 2 --*/

	/*-- Section 1 - Payment --*/

	.two-cols-templ_4 .left {
	    width: 54%;
	    padding: 0 20px 0 0;
	}

	.two-cols-templ_4 .right {
	    width: 46%;
	    padding: 0 0 0 20px;
	}

	.table-2 .table-cell:nth-child(1) {
	    width: 50%;
	}

	/*-- /Section 1 - Payment --*/

}

@media only screen and (max-width: 1280px) {

	h1 {
	    font-size: 42px;
	    line-height: 53px;
	}

	ol li {
	    padding: 6px 0 6px 27px;
		font-size: 17px;
		line-height: 19px;
	}

	ol li:before {
	    top: 3px;
	}

	/*-- Header --*/

	.header-site .left {
	    padding: 2px 1% 10px 0;
	}

	.logo p {
	    max-width: 212px;
	    margin: 20px 0 0 16px;
	}

	.logo_2 p {
	    margin-top: 5px;
	}

	.sign_wrapp {
	    padding: 10px 20px;
	}

	.input_wrapp {
	    width: 172px;
	}

	.blue-pill {
	    min-width: 129px;
	}

	.sign_list {
	    margin: 0;
	}

	.blue-link {
	    font-size: 14px;
	    line-height: 14px;
	}

	/*-- /Header --*/

	/*-- Header 2 --*/

	.header-site_2 .left {
		width: 29%;
	}

	.header-site_2 .right {
		width: 71%;
	}

	/*-- /Header 2 --*/

	/*-- Section 1 --*/

	.video-box .inner {
	    height: 327px;
	}

	.video-desc h3 {
	    font-size: 18px;
	    line-height: 22px;
	}

	.video-desc p {
	    font-size: 20px;
	    line-height: 23px;
	}

	/*-- /Section 1 --*/

	/*-- Section 2 --*/

	.section-2 {
	    padding: 30px 0;
	}

	.thumb-3 .img-box {
	    max-width: 160px;
	}

	.tooltip_1 i.fa-heart {
	    margin: 0 5px 0 0;
	}

	.tooltip_1 i.fa-plus {
	    margin: 0 1px;
	    font-size: 11px;
	}

	.tooltip:after {
	    width: 10px;
	    height: 10px;
	    bottom: -5px;
	    left: 50%;
	    margin: 0 0 0 -5px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}

	.tooltip i {
	    font-size: 16px;
	}

	.tooltip_1 {
	    top: 118px;
	    left: -30%;
	}

	.tooltip_2 {
	    width: 91px;
	    top: 76px;
	    right: -39%;
	}

	.tooltip_2 i.fa-heart {
	    font-size: 17px;
	}

	.tooltip_2 i.fa-plus {
	    font-size: 10px;
	}

	.tooltip_2:after {
	    width: 14px;
	    height: 14px;
	    bottom: -7px;
	    margin: 0 0 0 -7px;
	}

	.tooltip_3 {
	    min-width: 146px;
	    padding: 9px;
	    bottom: 29px;
	    right: -12.5%;
	}

	.tooltip .desc > div {
	    margin: 0 2px;
	}

	.tooltip_3 i {
	    font-size: 11px;
	}

	.tooltip p {
	    padding: 0 4px;
	    font-size: 11px !important;
	    line-height: 11px !important;
	}

	.tooltip_4 {
	    width: 74px;
	    padding: 10px;
	    top: 178px;
    	left: -13%;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
	}

	.tooltip_4 .fa-user {
	    margin: 0 4px 0 0;
	    font-size: 15px;
	}

	.tooltip_4 .fa-plus {
	    margin: 0 1px;
	    font-size: 11px;
	}

	.tooltip_5 {
	    top: 130px;
	    right: -28%;
	}

	.tooltip_5:after {
	    width: 10px;
	    height: 10px;
	    bottom: -5px;
	    left: 50%;
	    margin: 0 0 0 -6px;
	    -webkit-border-radius: 2px;
	    -moz-border-radius: 2px;
	    border-radius: 2px;
	}

	.tooltip_6 {
	    width: 102px;
	    padding: 10px;
	    top: 61px;
	    left: -45%;
	    -webkit-border-radius: 8px;
	    -moz-border-radius: 8px;
	    border-radius: 8px;
	}

	.tooltip_6 .fa-comment {
	    font-size: 17px;
	}

	.tooltip_6 .fa-plus {
	    font-size: 12px;
	}

	.thumb-3 h3 {
	    padding: 0 0 20px 0;
	    font-size: 21px;
	    line-height: 23px;
	    font-weight: normal;
	}

	.thumb-3 p,
	.thumb-3.big-font p {
	    font-size: 14px;
	    line-height: 19px;
	}

	.blue-pill_2 {
	    -webkit-border-radius: 32px;
	    -moz-border-radius: 32px;
	    border-radius: 32px;
	    margin: 33px 0;
	    padding: 14px;
	}

	/*-- /Section 2 --*/

	/*-- Section 5 --*/

	.section-5 {
		padding: 66px 0 31px 0;
	}

	.thumb-5 .thumb-title h3 {
		font-size: 24px;
		line-height: 27px;
	}

	.thumb-5 .thumb-descript {
		min-height: 275px;
	    padding: 0 30px 30px 30px;
	}

	.thumb-5 .thumb-footer p.p-1 {
	    padding: 6px 0;
	    font-size: 20px;
	    line-height: 23px;
	}

	/*-- /Section 5 --*/

	/*-- Section 1 - Rates --*/

	.rate_thumb {
	    width: 31.33%;
	}

	/*-- /Section 1 - Rates --*/

	/*-- Section 1 - Profiles --*/

	.two-cols_templ .left {
	    padding: 0 1% 15px 0;
	}

	.two-cols_templ .right {
	    padding: 0 0 15px 1%;
	}

	/*-- .Section 1 - Profiles --*/

}

@media only screen and (max-width: 1224px) {

	/*-- Header 2 --*/

	.header-site_2 .left {
		width: 31%;
	}

	.header-site_2 .right {
		width: 69%;
	}

	.thumb-9_3 {
		display: none;
	}

	/*-- /Header 2 --*/

	/*-- Section 1 - Support --*/

	.two-cols_templ_5 .left {
	    width: 350px;
	    padding-right: 20px;
	}

	.two-cols_templ_5 .right {
	    width: calc(100% - 350px);
	    padding-left: 20px;
	}

	/*-- /Section 1 - Support --*/

	/*-- Section 1 - Knowledge base --*/

	.two-cols_templ_6 .left {
	    width: 36%;
	    padding: 15px 15px 15px 0;
	}

	.two-cols_templ_6 .right {
	    width: 64%;
	    padding: 26px 0 15px 15px;
	}

	/*-- /Section 1 - Knowledge base --*/

	/*-- Section 1 - News --*/

	.two-cols_templ_7 .left {
	    width: 60%;
	    padding: 1px 15px 15px 0;
	}

	.two-cols_templ_7 .right {
	    width: 40%;
	    padding: 1px 0 15px 15px;
	}

	/*-- /Section 1 - News --*/

}

@media only screen and (max-width: 1124px) {

	/*-- Section 5 --*/

	.thumb-5 .thumb-title {
	    min-height: 44px;
	}

	/*-- /Section 5 --*/

	/*-- Section 6 --*/

	.section-6 {
	    padding: 56px 0 60px 0;
	}

	.h-desc {
	    margin: 43px auto 24px auto;
	    font-size: 17px;
    	line-height: 20px;
	}

	.thumb-6 {
		margin: 20px 1.5% 20px 1.5%;
	    padding: 37px 2% 39px 2%;
	}

	.thumb-6 .inner {
	    padding-bottom: 73px;
	    position: relative;
	}

	.thumb-6 .thumb-title h3 {
	    font-size: 40px;
	    line-height: 45px;
	}

	.thumb-6 .thumb-descript h4 {
	    padding: 20px 0;
	    font-size: 28px;
	    line-height: 32px;
	}

	.thumb-6 .thumb-descript p {
	    font-size: 17px;
	    line-height: 21px;
	}

	.thumb-6_btn {
	    max-width: 295px;
	    bottom: 0;
	}

	.thumb-6 .blue-pill {
   		padding: 15px 5px;
	   	-webkit-border-radius: 26px;
	    -moz-border-radius: 26px;
	    border-radius: 26px;
	    font-size: 17px;
	    line-height: 18px;
	}

	.thumb-6 .black-pill {
	    padding: 15px 5px;
	   	-webkit-border-radius: 26px;
	    -moz-border-radius: 26px;
	    border-radius: 26px;
	    font-size: 17px;
	    line-height: 18px;
	}

	/*-- /Section 6 --*/

	/*-- Section 7 --*/

	.thumb-7 h3 {
		padding: 5px 0 11px 0;
	    font-size: 19px;
	    line-height: 28px;
	}

	.thumb-7 p {
		font-size: 14px;
		line-height: 18px;
	}

	/*-- /Section 7 --*/

	/*-- Section 8 --*/

	.section-8 .top-row {
	    padding: 68px 0 36px 0;
	}

	.thumb-8 {
	    width: 202px;
	    padding: 11px 20px;
	}

	/*-- /Section 8 --*/

	/*-- Section 1 - Profiles --*/

	.two-cols_templ .left,
	.two-cols_templ .right {
		width: 100%;
		float: none;
	    padding: 0;
	}

	.inner-row_2:after {
	    width: 107%;
	    left: -7%;
	}

	.item_2 .descript_2 p {
	    padding: 3px 0;
	    font-size: 15px;
	    line-height: 16px;
	}

	/*-- /Section 1 - Profiles --*/

	/*-- Section 1 - Rating --*/

	.two-cols-templ_3 .left {
	    width: 100%;
	    float: none;
	    padding: 0;
	}

	.two-cols-templ_3 .right {
	    width: 100%;
	    float: none;
	    padding: 0;
	}

	.table-3_wrapp {
	    max-width: 100%;
	}

	/*-- /Section 1 - Rating --*/

	/*-- Section 1 - Payment --*/

	.two-cols-templ_4 .left {
	    width: 100%;
	    padding: 0;
	}

	.two-cols-templ_4 .right {
	    width: 100%;
	    padding: 0;
	}

	.table-2 .table-cell:nth-child(1) {
	    width: 50%;
	}

	/*-- /Section 1 - Payment --*/

}

@media only screen and (max-width: 1024px) {

	h1 {
		font-size: 50px;
		line-height: 58px;
	}

	h2 {
	    font-size: 50px;
	    line-height: 62px;
	}

	h3 {
	    font-size: 28px;
	    line-height: 29px;
	}

	h2 + h3 {
	    padding: 10px 0 0 0;
	}

	h4 {
		font-size: 21px;
		line-height: 30px;
	}

	ol li {
	    padding: 2px 0 2px 27px;
	}

	/*-- Header --*/

	.header-site.active .sign_wrapp {
		padding: 17px 0 0 0;
	}

	.header-site.active .respmenubtn {
	    margin-top: 9px;
	}

	.sign_wrapp {
	    padding: 6px 20px;
	}

	.visible-1024 {
	    display: block !important;
	}

	.inline-blocks > div.visible-1024 {
	    display: inline-block !important;
	}

	.sign_wrapp .inline-blocks .append-elem {
	    display: none;
	}

	.sign_wrapp .inline-blocks {
	    margin: 0 -6px;
	}

	.sign_wrapp .inline-blocks div {
		margin: 3px 6px;
	}

	.logo p {
	    max-width: 157px;
	}

	/*-- /Header --*/

	/*-- Section 1 --*/

	.center-position {
	    margin: 0;
	}

	.promo-desc p {
	    font-size: 20px;
	    line-height: 26px;
	}

	.blue-pill_2 {
	    min-width: 300px;
	    margin: 10px 0;
	    padding: 19px 20px;
	    font-size: 23px;
	}

	.video-box .inner {
	    height: 221px;
	}

	.video-desc h3 {
	    font-size: 14px;
	    line-height: 20px;
	}

	.video-desc p {
	    font-size: 18px;
	    line-height: 20px;
	}

	/*-- /Section 1 --*/

	/*-- Section 3 --*/

	h2 + h3 {
	    padding: 29px 0 0 0;
	}

	.thumb-4 h3 {
		margin: 0 0 7px 0;
	    font-size: 21px;
	    line-height: 28px;
	}

	.thumb-4 p {
	    font-size: 14px;
	    line-height: 16px;
	}

	.section-footer .col-1 {
	    width: 49%;
	}

	.section-footer .col-2 {
	    width: 51%;
	}

	.section-footer h3 {
	    font-size: 25px;
	    line-height: 34px;
	}

	.section-footer p {
	    padding: 0;
	    font-size: 17px;
	    line-height: 25px;
	}

	/*-- /Section 3 --*/

	/*-- Section 4 --*/

	.two-cols_2 .left {
		width: 47%;
	    padding: 10px 1% 20px 0;
	}

	.two-cols_2 .right {
		width: 53%;
		padding-left: 3%;
	}

	.items-2_wrapp {
		margin: 24px 0 0 0;
	}

	.items_box h3 {
		padding: 0 0 15px 0;
	    font-size: 21px;
	    line-height: 25px;
	}

	.item h3 {
	    padding: 8px 0;
	    font-size: 40px;
	    line-height: 45px;
	}

	.item p {
	    padding: 5px 0;
	}

	.two-cols_2 .right p {
	    font-size: 17px;
	    line-height: 18px;
	}

	.item-2 .col-1 {
	    width: 83px;
	}

	.section-footer.white p {
	    line-height: 18px;
	}

	.section-footer.white p span {
	    font-size: 25px;
	    line-height: 32px;
	}

	/*-- /Section 4 --*/

	/*-- Section 7 --*/

	.thumb-7 {
	    padding: 0 8px;
	}

	.thumb-7 h3 {
	    font-size: 15px;
	    line-height: 21px;
	}

	.thumb-7 p {
		font-size: 14px;
		line-height: 18px;
	}

	/*-- /Section 7 --*/

	/*-- Section 1 - Rates --*/

	.rate_thumb {
	    width: 48%;
	}

	/*-- /Section 1 - Rates --*/

	/*-- Section 1 - News --*/

	.two-cols_templ_7 .left {
	    width: 55%;
	}

	.two-cols_templ_7 .right {
	    width: 45%;
	}

	.news_thumbnails {
	    margin: 0;
	}

	.news_thumb {
	    width: 100%;
	    margin: 15px 0;
	}

	.news_thumb h3 {
	    min-height: auto;
	}

	.news_thumb .descript .inner {
	    min-height: auto;
	}

	/*-- /Section 1 - News --*/

	/*-- Section 1 - Affiliate Program --*/

	.two-cols_templ_8 .left {
		width: 100%;
		padding: 0 0 15px 0;
	}

	.two-cols_templ_8 .right {
		display: none;
	}

	.results_box {
	    margin: 0;
	}

	/*-- /Section 1 - Affiliate Program --*/

	/*-- Footer --*/

	.footer .left,
	.footer .right {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	    text-align: center;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 860px) {

	/*-- Header 2 --*/

	.header-site_2 .left {
	    width: 35%;
	}

	.header-site_2 .right {
	    width: 65%;
	}

	.thumb-11_title {
	    padding-right: 105px;
	}

	.thumb-9_2 {
	    padding-right: 60px;
	    padding-top: 19px;
	    min-width: 140px;
	}

	.dropdown-thumb_wrapp {
	    width: 245px;
	    height: 58px;
	}

	.thumb-11_title .col:nth-child(1) {
	    display: none;
	}

	.thumb-11_title .col:nth-child(2) {
	    height: 58px;
	}

	/*-- /Header 2 --*/

	/*-- Section 2 --*/

	.thumbnails-3 {
		text-align: center;
	}

	.thumb-3 {
	    width: 50%;
	}

	/*-- /Section 2 --*/

	/*-- Section 1 - Support --*/

	.sidebar {
	    margin: 0 0 15px 0;
	}

	.sidebar_2 {
	    padding: 0 5% 8px 5%;
	}

	.two-cols_templ_5 {
		margin-top: 0;
	    margin-bottom: 30px;
	}

	.two-cols_templ_5 .left {
	    width: 100%;
	    padding-right: 0;
	}

	.two-cols_templ_5 .right {
	    width: 100%;
	    padding-left: 0;
	}

	.hide-860 {
		display: none;
	}

	.visible-860 {
	    display: block;
	}

	.contact_thumb .col:nth-child(1) {
	    width: 44px;
	}

	.support_item {
	    padding-right: 0;
	}

	/*-- /Section 1 - Support --*/

	/*-- Section 1 - Appeals --*/

	.table-3 h3 {
	    font-size: 12px;
	    line-height: 15px;
	}

	.table-3_2 p {
	    font-size: 13px;
	    line-height: 17px;
	}

	.tabs-content .tab {
	    padding: 10px 0;
	}

	.tabs-links .tab-link {
	    font-size: 19px;
	    line-height: 21px;
	}

	.table-3_2 .table-row .table-cell {
	    padding: 10px 10px;
	}

	/*-- /Section 1 - Appeals --*/

	/*-- Section 1 - Partners --*/

	.article_2 .col:nth-child(1) {
	    width: 170px;
	}

	/*-- /Section 1 - Partners --*/

	/*-- Section 1 - Knowledge base --*/

	.two-cols_templ_6 .left {
	    width: 100%;
	    float: none;
	    padding: 0;
	}

	.two-cols_templ_6 .right {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	}

	.two-cols_templ_6 {
	    margin-bottom: 15px;
	}

	.knowledge_item {
	    margin: 22px 0 0 0;
	    padding: 14px 0 10px 0;
	}

	/*-- /Section 1 - Knowledge base --*/

	/*-- Section 1 - News --*/

	.two-cols_templ_7 .left {
	    width: 100%;
	    padding: 0 0 15px 0;
	}

	.two-cols_templ_7 .right {
	    width: 100%;
	    padding: 0 0 15px 0;
	}

	.right-sidebar {
	    margin: 0;
	    padding: 0 0 14px 0;
	    border: none;
	    background-color: transparent;
	}

	/*-- /Section 1 - News --*/

}

@media only screen and (max-width: 768px) {

	.row {
	    padding: 0 35px;
	}

	/*-- Header --*/

	.header-site .left {
	    width: 55%;
	}

	.header-site .right {
	    width: 45%;
	    padding: 0 0 2px 1%;
	}

	.header-site.active .logo p {
	    margin: 13px 0 0 16px;
	}

	.header-site.active .sign_wrapp {
	    padding: 7px 0 0 0;
	}

	.respmenubtn {
    	display: inline-block;
    }

	.logo-img {
		display: none;
	}

	.main-nav_wrapp {
		/*display: block;*/
		display: none;
		width: 100%;
		height: 100vh;
		margin: 0;
		padding: 50px 2% 70px 2%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 11;
		background: rgba(0, 0, 0, .9);
	}

	.main-nav {
		height: calc(100vh - 90px);
		margin: 0;
		padding: 0;
	}

	.main-nav li {
		display: block;
		width: 100%;
		padding: 10px 0;
	}

	.main-nav li a {
		display: block;
		padding: 0 2%;		
		text-align: center;
		font-size: 23px;
		line-height: 23px;
		font-weight: bold;
	}

	.main-nav li a:after {
		display: none;
	}

	.telegram_icon {
	    width: 40px;
	}

	.sign_wrapp {
	    padding: 11px 0 0 0;
	    background-color: rgba(0, 0, 0, 0);
	}

	.header-site .blue-pill {
	    min-width: 120px;
	    padding: 8px 15px 9px 15px;
	    font-size: 17px;
	    line-height: 20px;
	}

	/*-- /Header --*/

	/*-- Header 2 --*/

	.header-site_2 > .row {
		background: #000000;
	}

	.header-site_2 .left {
	    width: 76%;
	    padding: 6px 1% 4px 0;
	}

	.header-site_2 .right {
	    width: 24%;
	}

	.logo_2 .logo-img {
		display: inline-block;
	}

	.header-site_2 .right .thumb-9_2 {
		display: none;
	}

	.logo_2 .logo-img {
	    width: 31px;
	}

	.logo_2 p {
	    margin-top: 4px;
	}

	.dropdown-thumb_wrapp {
	    display: none;
	}

	.respmenubtn_2 {
		display: inline-block;
	}

	/*-- /Header 2 --*/

	/*-- Section 1 --*/

	.two-cols .left {
	    width: 50%;
	}

	.two-cols .right {
	    width: 50%;
	}

	.promo-desc p {
    	padding: 10px 0;
	    font-size: 17px;
	    line-height: 20px;
	}

	.blue-pill_2 {
	    padding: 13px 15px;
	}

	.promo-desc .blue-pill_2 {
		margin-top: 68px;
	}

	.video-box .inner {
	    height: 171px;
	}

	.play-btn {
	    width: 70px;
	    height: 70px;
	}

	.play {
	    width: 27px;
	    height: 30px;
	}

	.video-desc:after {
	    right: -31px;
	}

	/*-- /Section 1 --*/

	/*-- Section 2 --*/

	.tooltip_7 {
		right: -26%;
	}

	.blue-pill_wrapp .blue-pill_2 {
	    margin: 5px 0 18px 0;
	}

	/*-- /Section 2 --*/

	/*-- Section 3 --*/

	.bg_2 > .inner {
	    padding: 54px 0 41px 0;
	}

	.thumbnails-4 {
	    margin: 0;
	}

	.thumb-4 {
	    margin: 20px 0;
	}

	.thumb-4 h3 {
		min-height: auto;
	}

	/*-- /Section 3 --*/

	/*-- Section 4 --*/

	.items_box {
	    padding: 31px 12%;
	}

	.items_box h3 {
	    padding: 0 0 7px 0;
	}

	.item h3 {
	    padding: 18px 0 0 0;
	    font-size: 40px;
	    line-height: 45px;
	}

	.item p {
	    font-size: 14px;
	    line-height: 16px;
	}

	.item-2 .col-1 {
	    width: 65px;
	}

	.item-icon {
		max-width: 51px;
	}

	.item-icon_2 {
		max-width: 62px;
	}

	.item-icon_3 {
		max-width: 66px;
	}

	/*-- /Section 4 --*/

	/*-- Section 5 --*/

	.thumb-5 {
		margin: 170px 15px 19px 15px;
	}

	.thumb-5:before {
	    width: 192px;
	    height: 192px;
	    top: -128px;
	    margin: 0 0 0 -96px;
	}

	.thumb-5 .icon-box {
	    width: 160px;
	    height: 160px;
	    top: -111px;
	    margin: 0 0 0 -80px;
	}

	.thumb-5 .icon-box i {
	    top: 11px;
	}

	.thumb-5 .icon-box i.icon_05 {
	    top: 1px;
	}

	.thumb-5 .thumb-title h3 {
	    font-size: 21px;
	    line-height: 25px;
	}

	.thumb-5 .thumb-descript {
	    padding: 0 20px 30px 20px;
	}

	.thumb-5 .thumb-footer {
	    padding: 0 20px 20px 20px;
	}

	/*-- /Section 5 --*/

	.info-box {
		display: block;
	}

	.info-box .info-col:nth-child(1),
	.info-box .info-col:nth-child(2) {
		display: block;
	    width: 100%;
	    padding: 13px 0;
	}

	.info-box .info-col:nth-child(1) {
		padding-bottom: 4px;
	}

	.info-box .info-col:nth-child(2) {
		padding-top: 4px;
	}

	.info-box .btn_wrapp {
	    text-align: center;
	}

	/*-- Section 1 - Payment --*/

	.table-2 .table-cell {
	    padding: 10px 10px;
	}

	.table-2 .table-cell:nth-child(1) {
	    width: auto;
	}

	.table-2 .table-cell:nth-child(2) {
	    width: 130px;
	}

	.table-2 .table-cell:nth-child(3) {
	    width: 130px;
	}

	.table-2 .table-cell:nth-child(3) p {
	    font-size: 15px;
	    line-height: 17px;
	}

	/*-- /Section 1 - Payment --*/

	/*-- Section 1 - Rule Service --*/

	.article_3 {
		overflow: hidden;
		padding: 6px 0 15px 0;
	}

	.slidedownbtn_wrapp {
		display: block;
	}

	/*-- /Section 1 - Rule Service --*/

	/*-- Footer --*/

	.footer .left, .footer .right {
	    padding: 10px 0 0 0;
	}

	.cols-inner_wrapp {
	    margin: 0;
	}

	/*-- /Footer --*/

	/*-- Backgrounds --*/

	.bg_1 {
		background-image: url(img/promo_bg_tab.jpg);
	}

	.bg_2 {
	    background-image: url(img/bg_2_tab.jpg);
	}

	.bg_3 {
	    background-image: url(img/bg_4_tab.jpg);
	}

	.bg_4 {
	    background-image: url(img/bg_2_tab.jpg);
	}

	/*-- /Backgrounds --*/

	/*-- Popups --*/

	.popup {
		max-width: 460px;
	    margin: 80px auto 20px auto;
	}

	.popup .close-popup {
	    top: 15px;
	    right: 15px;
	}

	/*-- /Popups --*/

}

@media only screen and (max-width: 750px) {

	/*-- Section 7 --*/

	.bg_4 .top-row {
	    position: relative;
	    z-index: 2;
	    padding: 33px 0 19px 0;
	}

	.thumb-7 {
		display: table;
	    width: 100%;
	    margin: 26px 0;
	    padding: 0;
	    text-align: left;
	}

	.thumb-7 .cell-1 {
		display: table-cell;
		vertical-align: top;
		width: 79px;
	}

	.thumb-7 .cell-2 {
		display: table-cell;
		vertical-align: top;
		width: auto;
	}

	.thumb-7 .img-box {
	    height: auto;
	    margin: 0 0 16px 0;
	    text-align: left;
	}

	.thumb-7 .img-box img {
		max-width: 54px;
	    position: relative;
	    left: 0;
	    -webkit-transform: translate(0, 0);
	    -moz-transform: translate(0, 0);
	    transform: translate(0, 0);
	}

	.thumb-7 p {
	    padding: 3px 0;
	}

	.circle_shape {
		display: none;
	}

	/*-- /Section 7 --*/

	/*-- Section 1 - Comments --*/

	.inner-box_2 {
	    width: 100%;
	}

	/*-- /Section 1 - Comments --*/

	/*-- Section 1 - Affiliate Program --*/

	.thumbnails-12 {
	    margin: 10px 0 0 0;
	}

	.thumb-12 {
	    width: 100%;
	    min-height: auto;
	    margin: 42px 0 30px 0;
	}

	.thumb-12 .descript {
	    min-height: auto;
	    padding: 0 0 16px 0;
	}

	.thumb-12 .inner {
	    padding-bottom: 17px;
	    min-height: auto;
	}

	.resp-sidebar .results_box {
	    width: 100%;
	    float: none;
	   	margin: 3px 0 20px 0;
	    padding: 23px 4% 16px 4%;
	}

	.resp-sidebar .blue-box_2 {
	    width: 100%;
	    margin: 20px 0;
	    float: none;
	}

	/*-- /Section 1 - Affiliate Program --*/

}

@media only screen and (max-width: 700px) {

	h1 {
	    font-size: 38px;
	    line-height: 51px;
	}

	/*-- Section 1 --*/

	.two-cols .left {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	}

	.two-cols .right {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	}

	.promo-content {
	    margin: 14px 0;
	}

	.promo-desc p {
	    padding: 7px 0;
	}

	.promo-desc .blue-pill_2 {
	    margin-top: 31px;
	}

	.video-box_wrapp {
	    margin: 8px 0;
	}

	/*-- /Section 1 --*/

	/*-- Section 3 --*/

	.section-footer {
	    padding: 10px 0;
	}

	.section-footer .col-1 {
	    width: 100%;
	    padding: 5px 0;
	}

	.section-footer .col-2 {
	    width: 100%;
	    padding: 5px 0;
	    text-align: center;
	}

	.section-footer .blue-pill_2 {
	    margin: 6px 0;
	}

	/*-- /Section 3 --*/

	/*-- Section 5 --*/

	.section-5 {
	    padding: 30px 0;
	}

	.thumb-5 .thumb-descript {
	    min-height: 245px;
	}

	/*-- /Section 5 --*/

	/*-- Section 6 --*/

	.thumbnails-6 {
	    margin: 12px 0 4px 0;
	}

	.thumb-6 {
		width: 100%;
	    margin: 20px 0;
	    padding: 31px 4% 29px 4%;
	}

	.thumb-6 .inner {
		height: auto !important;
	}

	.thumb-6 .thumb-title h3 {
	    font-size: 30px;
	    line-height: 30px;
	}

	.thumb-6 .thumb-descript h4 {
	    padding: 8px 0;
	    font-size: 21px;
	    line-height: 23px;
	}

	.thumb-6 .thumb-descript {
	     min-height: auto; 
	}

	.thumb-6 .blue-pill {
	    font-size: 15px;
	}

	/*-- /Section 6 --*/

	/*-- Section 8 --*/

	.thumb-8 {
	    width: 172px;
	    padding: 11px;
	}

	.thumb-8 .icon-box {
	    width: 125px;
	    height: 125px;
	}

	.thumb-8 h3 {
	    font-size: 13px;
	    line-height: 18px;
	}

	/*-- /Section 8 --*/

	/*-- Section 1 - Rates --*/

	.rate_thumb {
	    width: 100%;
	    margin: 55px 0 6px 0;
	}

	/*-- /Section 1 - Rates --*/

	/*-- Section 1 - Profiles --*/

	.item_2 .inner .col:nth-child(1) {
	    width: 50px;
	    padding: 24px 5px;
	}

	.item_2 .inner .col:nth-child(2) {
	    padding: 17px 3% 17px 5px;
	}

	.form-two-cols {
		display: block;
	    width: 100%;
	}

	.form-two-cols .blue-pill {
	    min-width: 100%;
	}

	/*-- /Section 1 - Profiles --*/

	/*-- Section 1 - Payment --*/

	.payment-thumb {
	    width: 50%;
	}

	/*-- /Section 1 - Payment --*/

	/*-- Section 1 - Partners --*/

	.article_2 {
	    min-height: auto;
	}

	.article_content {
		display: none;
	}

	.ie .article_2 .col:nth-child(1) {
	     min-height: auto;
	     width: 130px;
	}

	.ie .article_2 .col:nth-child(1) img {
	     max-width: 100px;
	}

	/*-- /Section 1 - Partners --*/

}

@media only screen and (max-width: 600px) {

	.row {
	    padding: 0 15px;
	}

	h1 {
	    font-size: 30px;
	    line-height: 36px;
	}

	h2 {
	    font-size: 30px;
	    line-height: 38px;
	}

	h3 {
		font-size: 18px;
		line-height: 24px;
	}

	ol li {
	    font-size: 14px;
	    line-height: 18px;
	}

	.inner_title h2 {
	    font-size: 21px;
	    line-height: 30px;
	}

	h2 + h3 {
	    padding: 3px 0 0 0;
	}

	/*-- Header --*/

	.header-site .left {
	    width: 51%;
	}

	.header-site .right {
	    width: 49%;
	}

	.header-site.active .logo p {
	    margin: 13px 0 0 11px;
	}

	.logo p {
	    max-width: 139px;
	}

	.logo_2 .logo-img {
	    display: inline-block;
	}

	/*-- /Header --*/

	/*-- Header 1 --*/

	.resp_nav {
		padding: 19px 15px 70px 15px;
	}

	/*-- /Header 2 --*/

	/*-- Section 1 --*/

	.video-box_wrapp {
	    margin: 8px 0;
	}

	/*-- /Section 1 --*/

	/*-- Section 2 --*/

	.section-titles {
	    padding: 9px 0;
	}

	.thumb-3 {
	    width: 100%;
	    padding: 0;
	}

	.blue-pill_wrapp .blue-pill_2 {
	    margin: 20px 0;
	}

	.blue-pill_2 {
		min-width: 278px;
	    margin: 0;
	    font-size: 19px;
	}

	/*-- /Section 2 --*/

	/*-- Section 4 --*/

	.two-cols_2 .left {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	}

	.two-cols_2 .right {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	}

	.section-footer h3 {
	    font-size: 21px;
	    line-height: 29px;
	}

	.items_box {
	    max-width: 100%;
	    margin: 0;
	    padding: 33px 11% 17px 11%;
	}

	.item h3 {
	    padding: 8px 0;
	    font-size: 30px;
	    line-height: 36px;
	}

	.item p {
	    padding: 13px 0;
	}

	/*-- /Section 4 --*/

	/*-- Section 5 --*/

	.thumb-5 .thumb-descript {
	    padding: 0 20px 30px 20px;
	}

	.thumb-5 .thumb-descript {
	    padding: 0 15px 30px 15px;
	}

	/*-- /Section 5 --*/

	/*-- Section 6 --*/

	.section-6 {
	    padding: 35px 0 39px 0;
	}

	.h-desc {
	    margin: 29px auto 24px auto;
	}

	.thumb-6 {
	    margin: 7px 0;
	}

	.thumb-6 .blue-pill {
	    font-size: 15px;
	    font-weight: 500;
	}

	.thumb-6 .black-pill {
	    font-size: 15px;
	    font-weight: 500;
	}

	/*-- /Section 6 --*/

	/*-- Backgrounds --*/

	.bg_1 {
		background-image: url(img/promo_bg_mob.jpg);
	}

	.bg_2 {
	    background-image: url(img/bg_2_mob.jpg);
	}

	.bg_3 {
	    background-image: url(img/bg_4_mob.jpg);
	}

	.bg_4 {
	    background-image: url(img/bg_2_mob.jpg);
	}

	/*-- /Backgrounds --*/

	/*-- Section 1 - Rates --*/

	.inner_title {
	    padding: 10px 0;
	}

	.info-box {
	    margin: 27px 0 30px 0;
	}

	.rates_thumbs_wrapp {
	    padding: 5px 0 0 0;
	}

	.rates_thumbs_wrapp h3 {
	    font-size: 19px;
	    line-height: 22px;
	}

	.rates_thumbs {
	    margin: 7px 0 33px 0;
	}

	.rate_thumb .descript {
		min-height: auto;
	}

	/*-- /Section 1 - Rates --*/

	/*-- Section 1 - Profiles --*/

	.fa-exchange-alt {
	    font-size: 10px;
	}

	.blue-link_4 {
	    font-size: 11px;
	    line-height: 13px;
	}

	p .fa-exchange-alt {
	    top: -1px;
	}

	.inner-row_2 .inner-col-2:nth-child(1) {
	    padding: 8px 5px 8px 0;
	}

	.inner-row_2 .inner-col-2:nth-child(2) {
	    width: 100px;
	    padding: 8px 0 8px 3px;
	}

	.reset_box .blue-pill {
	    min-width: 100%;
	    margin: 3px 0;
	}

	.red-link {
	    font-size: 11px;
	    line-height: 13px;
	}

	.grey-link_2 {
	    font-size: 11px;
	    line-height: 13px;
	}

	.fa-clock {
	    font-size: 11px;
	    line-height: 13px
	}

	.fa-times-circle {
	    font-size: 11px;
	    line-height: 13px
	}

	.inner-row_2 p {
	    font-size: 13px;
	    line-height: 15px;
	}

	.form-two-cols > .col-inner:nth-child(1) {
		display: block;
		padding: 0 0 5px 0;
	}

	.form-two-cols > .col-inner:nth-child(2) {
		display: block;
		width: 100%;
		padding: 0;
	}

	.reset_box {
	    margin: 10px 0 0 0;
	}

	/*-- /Section 1 - Profiles --*/

	/*-- Section 1 - Start --*/

	.important_box_2 + .blue-pill {
	    margin: 10px 0;
	}

	.col-title p {
	    padding: 0;
	}

	.col-title_2 {
	    display: block;
	}

	.col-title p {
	    font-size: 17px;
	    line-height: 21px;
	}

	.col-title_2 .col:nth-child(1) {
		display: block;
	    padding: 10px 5px 0 0;
	}

	.col-title_2 .col:nth-child(2) {
	    display: block;
	    width: 100%;
	}

	.col-title_2 .transparent-pill {
		margin: 10px 0;
	}

	.item_3 {
	    display: block;
	}

	.item_3 > .item_3-col:nth-child(1) {
		display: block;
	    width: 100%;
	    padding: 5px 0;
	}

	.item_3 > .item_3-col:nth-child(2) {
		display: block;
	    padding: 5px 0;
	}

	p.question-p {
	    font-size: 16px;
	    line-height: 20px;
	}

	.question-p .question-link {
	    position: relative;
	    top: 1px;
	    left: 0;
	}

	.btn_wrapp_2 {
	    display: block;
	}

	.btn_wrapp_2 .btn_wrapp-col:nth-child(1),
	.btn_wrapp_2 .btn_wrapp-col:nth-child(2) {
	    display: block;
	    padding: 3px 0;
	    text-align: center;
	}

	.inner_3 {
	    margin: 10px;
	}

	/*-- /Section 1 - Start --*/

	/*-- Section 1 - Start --*/

	.blue-info p {
	    font-size: 13px;
	}

	.red-info p {
	    font-size: 13px;
	}

	.black-info p {
	    font-size: 13px;
	}

	.two-cols_3 p {
	    font-size: 16px;
	    line-height: 18px;
	}

	/*-- /Section 1 - Start --*/

	/*-- Section 1 - Getting Comment --*/

	.important-box {
	    margin: 2px 0 7px 0;
	}

	.inner-row_3 {
	    width: 96%;
	    padding: 5px 4%;
	}

	.inner-row_3 h4 {
	    font-size: 15px;
	    line-height: 18px;
	}

	.important-box p {
	    font-size: 13px !important;
	    line-height: 20px !important;
	}

	.radios_wrapp {
	    margin: 0 0 7px 0;
	}

	.radio {
		display: block;
	    margin: 6px 0 0 0;
	}

	.btn_wrapp_4 {
	    padding: 4px 4% 23px 4%;
	}

	.inner-row_3 .input_wrapp {
	    width: 100%;
	    margin: 2px 0 10px 0;
	}

	/*-- /Section 1 - Getting Comment --*/

	/*-- Section 1 - Getting Comment 2 --*/

	.important_box .col-imp:nth-child(1) {
	    width: 11px;
	}

	/*-- /Section 1 - Getting Comment 2 --*/

	/*-- Section 1 - Getting Comment 4 --*/

	.important-box + .two-cols_3 {
		margin-top: 0;
	}

	.two-cols_3_2 {
		display: block;
	}

	.two-cols_3_2 .two-col:nth-child(1) {
		display: block;
	    width: 100%;
	    padding: 0;
	}

	.two-cols_3_2 .two-col:nth-child(2) {
		display: block;
	    width: 100%;
	    padding: 0;
	}

	.two-cols_3_2 p {
	    padding: 0;
	}

	.total_price {
		margin-top: 10px;
	    margin-bottom: 10px;
	}

	.total_price p .blue {
	    font-size: 22px;
	    line-height: 24px;
	}

	/*-- /Section 1 - Getting Comment 4 --*/

	/*-- Section 1 - Rating --*/

	.table-3_wrapp {
		margin-top: 5px;
	    padding: 0 2% 22px 2%;
	}

	.cell-inner .cell:nth-child(1) {
	    width: 50px;
	    padding: 0 5px 0 5px;
	}

	.table-3 h3 {
	    font-size: 12px;
	    line-height: 15px;
	}

	.table-3 p {
	    font-size: 14px;
	    line-height: 21px;
	}

	/*-- /Section 1 - Rating --*/

	/*-- Section 1 - Payment --*/

	.table-2_wrapp {
	    padding: 0;
	}

	.table-2 {
	     min-width: 310px;
	     margin-bottom: 0;
	}

	.table-2 .table-cell:nth-child(2) {
	    width: 105px;
	}

	.table-2 .table-cell:nth-child(3) {
	    width: 105px;
	}

	.item_2 .inner .col:nth-child(2) {
	    padding: 17px 7% 17px 5px;
	}

	.title_table {
	    display: block;
	}

	.title_table .cell:nth-child(1) {
		display: block;
	    width: 100%;
	    padding: 5px 0;
	}

	.title_table .cell:nth-child(2) {
		display: block;
	    width: 100%;
	    padding: 5px 0;
	}

	.table-2 .table-cell p {
	    font-size: 13px;
	    line-height: 18px;
	}

	/*-- /Section 1 - Payment --*/

	/*-- Section 1 - Rule Service --*/

	.btn_wrapp_6 {
	    padding: 2px 0;
	}

	.btn_wrapp_6 .blue-pill {
		font-size: 12px;
		line-height: 16px;
	    padding: 6px 15px 6px 15px;
	}

	.article_3 {
	    font-size: 15px;
	    line-height: 17px;
	}

	.article_3 p {
	    padding: 10px 0 7px 0;
	    font-size: 15px;
	    line-height: 17px;
	}

	/*-- /Section 1 - Rule Service --*/

	/*-- Section 1 - Profile Settings --*/

	.input-two-cols {
	    display: block;
	    margin-top: 10px;
	}

	.input-two-cols .two-cols-col:nth-child(1),
	.input-two-cols .two-cols-col:nth-child(2) {
	    display: block;
	    width: 100%;
	    padding: 5px 0;
	}

	/*-- /Section 1 - Profile Settings --*/

	/*-- Section 1 - Affiliate Program --*/

	.two-cols_templ_8 {
	    margin-bottom: 27px;
	}

	.thumb-12 {
	    margin: 42px 0 10px 0;
	}

	.thumb-12 h3 {
	    font-size: 19px;
	    line-height: 25px;
	}

	.thumb-12 .inner {
	    padding-bottom: 30px;
	}

	.table-3_wrapp_3 {
	    display: none;
	}

	.table_3_resp {
		display: table;
	}

	/*-- /Section 1 - Affiliate Program --*/

	/*-- Footer --*/

	.footer {
	    padding: 10px 0 14px 0;
	}

	.footer-nav li {
	    padding: 3px 14px;
	}

	p.cop {
	    padding: 11px 0;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 480px) {

	h5 {
	    font-size: 19px;
	    line-height: 22px;
	}

	.row {
	    padding: 0 15px;
	}

	/*-- Section 1 --*/

	.promo-desc .blue-pill_2 {
	    min-width: 100%;
	}

	.video-box .inner {
	    height: 160px;
	}

	.video-desc h3 {
	    font-size: 13px;
	    line-height: 18px;
	}

	/*-- /Section 1 --*/

	/*-- Section 2 --*/

	.tooltip_2 {
	    right: -37%;
	}

	.tooltip_6 {
	    left: -37%;
	}

	/*-- /Section 2 --*/

	/*-- Section 3 --*/

	.thumb-4 {
	    padding: 0 9px;
	}

	.slider_1 .slick-arrow {
	    top: 57%;
	}

	.section-footer {
	    padding: 20px 0 23px 0;
	}

	.section-footer p {
	   	padding: 10px 0;
	    font-size: 14px;
	    line-height: 22px;
	}

	.section-footer .blue-pill_2 {
	    margin: 0;
	}

	/*-- /Section 3 --*/

	/*-- Section 4 --*/

	.two-cols_2 {
	    margin: 36px 0 30px 0;
	}

	/*-- /Section 4 --*/

	/*-- Section 5 --*/

	.thumb-5 .thumb-footer p.p-1 {
	    font-size: 17px;
	    line-height: 20px;
	}

	.thumb-5 .thumb-footer p {
	    font-size: 14px;
	    line-height: 18px;
	}

	/*-- /Section 5 --*/

	/*-- Section 7 --*/

	.thumbnails-7  {
		margin: 19px 0 16px 0;
	}

	.thumb-7 {
	    margin: 14px 0;
	}

	/*-- /Section 7 --*/

	/*-- Section 8 --*/

	.section-8 .top-row {
	    padding: 44px 0 36px 0;
	}

	.thumb-8 {
	    width: 141px;
	    padding: 7px;
	}

	.thumb-8 .icon-box {
	    width: 120px;
	    height: 120px;
	}

	.thumb-8 h3 {
	    font-size: 12px;
	    line-height: 16px;
	    font-weight: bold;
	}

	.thumb-8 .icon-box img {
	    max-width: 46%;
	    max-height: 46%;
	}

	/*-- /Section 8 --*/

	/*-- Section 1 - Start Distribution --*/

	.inner_box {
	    margin: 24px 0 0 0;
	    padding: 23px 0 0 0;
	}

	.count_wrapp {
	    display: block;
	    width: 100%;
	    margin: 5px 0 0 0;
	}

	.count_wrapp .count-col:nth-child(1) {
		display: block;
	    width: 100%;
	    padding: 5px 0;
	}

	.count_wrapp .count-col:nth-child(2) {
		display: block;
	    width: 100%;
	    padding: 5px 0;
	}

	.count-box {
	    width: 182px;
	}

	/*-- /Section 1 - Start Distribution --*/

	/*-- Section 1 - Getting Comment 6 --*/

	.col-title {
	    min-height: 31px;
	    padding: 3px 0 0 0;
	}

	.two-cols_4 {
    	display: block;
	}

	.two-cols_4 .two-col:nth-child(1) {
		display: block;
	    width: 100%;
	    padding: 15px 0 0 0;
	}

	.two-cols_4 .two-col:nth-child(2) {
	    display: block;
	    width: 100%;
	    padding: 5px 0 0 0;
	}

	.inner_3_3 {
	    padding: 3px 0 15px 0;
	}

	.btn_wrapp_5 {
	    padding: 4px 3% 14px 3%;
	}

	/*-- /Section 1 - Getting Comment 6 --*/

	/*-- Section 1 - Rating --*/

	.counter-box .cell {
	    padding: 0 4px;
	}

	.counter-box .cell .inner {
	    min-width: 40px;
	}

	/*-- /Section 1 - Rating --*/

	/*-- Section 1 - Payment --*/

	.rate_wrapp h3 {
	    padding: 2px 0;
	}

	.rate_title h3 {
	    font-size: 19px;
	    line-height: 24px;
	}

	.rate_wrapp .blue-pill {
	    min-width: 100%;
	    margin-bottom: 5px;
	}

	/*-- /Section 1 - Payment --*/

	/*-- Section 1 - Partners --*/

	.article_2 {
	    margin: 14px 0;
	    padding: 11px 2% 11px 5px;
	}

	.article_2 .col:nth-child(1) {
	    width: 112px;
	}

	.article_2 .align-right {
		text-align: left;
	}

	/*-- /Section 1 - Partners --*/

	/*-- Popups --*/

	.popup {
	    margin: 80px 2% 20px 2%;
	}

	.popup h3 {
	    font-size: 30px;
	    line-height: 32px;
	}

	.popup-form {
		padding-top: 20px;
		padding-left: 30px;
		padding-right: 30px;
	}

	.input_wrapp .show_pass {
	    right: -26px;
	}

	/*-- /Popups --*/
	
}

@media only screen and (max-width: 450px) {

	.header-site .left {
	    width: 64%;
	}

	.header-site .right {
	    width: 36%;
	}

	.header-site .blue-pill.sign-in {
	    min-width: 40px;
	    padding: 9px 9px;
	}

	.sign-in span {
	    display: none;
	}

	.sign-in i {
	    display: inline-block;
	}

	/*-- Section 1 - Payment --*/

	.payment-thumb {
	    width: 100%;
	}

	/*-- /Section 1 - Payment --*/

	/*-- Section 1 - Partners --*/

	.articles_2_wrapp h5 {
	    padding: 0 0 10px 0;
	}

	.ie .article_2 .col:nth-child(1) {
	     min-height: auto;
	     width: 90px;
	}

	/*-- /Section 1 - Partners --*/

}

@media only screen and (max-width: 410px) {

	/*-- Header --*/

	.sign_wrapp .inline-blocks {
	    margin: 0 -3px;
	}

	.sign_wrapp .inline-blocks div {
	    margin: 3px;
	}

	.logo p {
	    max-width: 126px;
	    margin: 20px 0 0 9px;
	}

	.respmenubtn {
	    width: 33px;
	    height: 33px;
	}

	.respmenubtn span {
	    width: 27px;
	    height: 2px;
	    margin: 0 0 6px 0;
	}

	.respmenubtn span:nth-child(1) {
	    width: 22px;
	}

	.respmenubtn span:nth-child(2) {
	    width: 15px;
	}

	.respmenubtn.active span:nth-child(1) {
	    width: 34px;
	}

	.respmenubtn.active span:nth-child(2) {
	    width: 34px;
		top: -1px;
		left: -2px;
	}

	/*-- /Header --*/

	/*-- Header 2 --*/

	.logo_2 p {
	    margin: 7px 0 0 9px;
	}

	/*-- /Header 2 --*/

	/*-- Section 1 - Rating --*/

	.table-3 h3 {
	    font-size: 10px;
	    line-height: 12px;
	}

	.table-3 .table-cell:nth-child(2) {
	    width: 100px;
	}

	.table-3 .table-cell:nth-child(2) {
	    width: auto;
	}

	.table-3 .table-cell:nth-child(3) {
	    width: 50px;
	}

	/*-- /Section 1 - Rating --*/

	/*-- Section 1 - Partners --*/

	.article_2 {
	    padding-right: 5%;
	}

	.article_2 .col:nth-child(1) {
	    width: 80px;
	}

	.article_2 .col:nth-child(2) {
	    padding: 1px 0 5px 20px;
	}

	.article_2 h5 {
	    padding: 3px 0 11px 0;
	    font-size: 16px;
	    line-height: 19px;
	}

	.article_2 .blue-pill {
	    min-width: 100%;
	    padding: 5px 10px 5px 10px;
	    font-size: 15px;
	}

	.ie .article_2 .col:nth-child(1) img {
	     max-height: 75px;
	}

	/*-- /Section 1 - Partners --*/

	/*-- Section 1 - Profile Settings --*/

	.prifile_sect .item_2 {
	    padding: 5px 0;
	}

	.avatar .img-box {
	    margin: 14px auto;
	}

	.avatar-settings {
	    margin: 9px -5px 21px -5px;
	}

	.avatar-settings li {
	    padding: 5px;
	}

	.red-pill {
	    padding: 6px 17px;
	    font-size: 14px;
	    line-height: 18px;
	}

	.blue-pill_4 {
	    padding: 6px 10px;
	    font-size: 14px;
	    line-height: 18px;
	}

	.inner_5 {
	    padding: 0 !important;
	}

	.input-two-cols {
	    margin-top: 6px;
	}

	.input_wrapp_box {
	    margin: 15px 0;
	}

	.btn_wrapp_7 .blue-pill {
	    min-width: 100%;
	}

	.inner-row_3 .input_wrapp {
	    margin: 2px 0;
	}

	/*-- /Section 1 - Profile Settings --*/

	/*-- Section 1 - News --*/

	.right-sidebar h2 {
	    font-size: 21px;
	    line-height: 26px;
	}

	/*-- /Section 1 - News --*/

}

@media only screen and (max-width: 350px) {

	/*-- Section 1 - Rates --*/

	.info-box {
	    margin: 27px 0 6px 0;
	}

	.info-box .btn_wrapp {
	    margin: 0;
	}

	.info-box .blue-pill {
		width: 100% !important;
	    margin: 5px 0;
	    padding: 12px 6px 14px 6px;
	}

	.blue-pill .fa-telegram-plane {
	    margin: -2px 9px -7px 0;
	}

	/*-- /Section 1 - Rates --*/

	/*-- Section 1 - News --*/

	.thumb_footer .col:nth-child(1) {
		width: 100%;
		padding: 0;
	}

	.thumb_footer .col:nth-child(2) {
		display: none;
	}

	.pagination {
	    padding: 12px 0;
	    text-align: center;
	}

	.pagination li {
	    padding: 1px;
	}

	/*-- /Section 1 - News --*/

}

@media only screen and (min-width: 1025px) {

	.popup_wrapp_resp {
	    display: none !important;
	}

}

@media only screen and (min-width: 769px) {

	.resp_nav {
	    display: none !important;
	}

}